
*, html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 500;
}

h2 {
    font-size: 1.25rem;
}

h3{
    font-size: 1rem;
    font-weight: 400;
}

/* Layout */

#main {
    margin: 2.5rem;
}

.mdc-wrap {
    contain: content;
    overflow-wrap: break-word;
}

.mdc-data-table__table{
    width: 100%;
}

/* Navigation Bar */

.mdc-top-app-bar__row {
    height: 75px;
}

.mdc-top-app-bar{
    background: #4668a7;
    position: relative;
}

.mdc-top-app-bar__section .name_role {
    line-height: 1.5;
}

/* Navigation Icons */

.mdc-top-app-bar .material-icons{
    font-size: 40px;
}

.mdc-top-app-bar .mdc-icon-button{
    width: 64px;
    height: 64px;
}

/* Table */

.mdc-data-table__header-cell--numeric {
    text-align: inherit;
}