<header class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Open">reorder</button>   
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <div class="name_role">
                <h2>Nombre y Apellido</h2>
                <h3>Detalles del Perfil</h3>
            </div>
            <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Profile">face</button>
        </section>
    </div>
</header>