{{> header}}

<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-8 mdc-wrap">
      <form action="/home/add" method="POST">
        <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
            <input class="mdc-text-field__input" type="text" placeholder="Nombre" name="first_name" autofocus>
        </label>
        <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
            <input class="mdc-text-field__input" type="text" placeholder="Apellido" name="last_name">
        </label>
        <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
            <input class="mdc-text-field__input" type="number" placeholder="Documento" name="id_card">
        </label>
        <label class="mdc-text-field mdc-text-field--textarea mdc-text-field--no-label">
          <textarea class="mdc-text-field__input" rows="8" cols="40" placeholder="Dirección" name="address"></textarea>
        </label>
        <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
            <input class="mdc-text-field__input" type="number" placeholder="Teléfono" name="phone">
        </label>
        <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
            <input class="mdc-text-field__input" type="email" placeholder="Correo electrónico" name="email">
        </label>
        <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
            <input class="mdc-text-field__input" type="text" placeholder="Fecha de ingreso" name="entry_date">
        </label>
        <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
            <input class="mdc-text-field__input" type="text" placeholder="Fecha de egreso" name="egress_date">
        </label>
        <button class="mdc-button">
          <span class="mdc-button__ripple"></span>Save
        </button>
      </form>
    </div>
    <div class="mdc-layout-grid__cell--span-4 mdc-wrap">sdfsdf</div>
  </div>
</div>