{{> header}}

<section id="main">
    <div class="mdc-data-table">
        <table class="mdc-data-table__table" aria-label="Employees">
            <thead>
                <tr class="mdc-data-table__header-row">
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">ID</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Nombre</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Apellido</th>
                    <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Documento</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Dirección</th>   
                    <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Teléfono</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Email</th>  
                    <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Ingreso</th>
                    <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Egreso</th>   
                    <th class="mdc-data-table__header-cell mdc-data-table__header-cell" role="columnheader" scope="col">Interacciones</th>            
                </tr>
            </thead>
            <tbody class="mdc-data-table__content">
                {{#each employees}}
                    <tr class="mdc-data-table__row">
                        <td class="mdc-data-table__cell">{{id}}</td>
                        <td class="mdc-data-table__cell">{{first_name}}</td>
                        <td class="mdc-data-table__cell">{{last_name}}</td>
                        <td class="mdc-data-table__cell">{{id_card}}</td>
                        <td class="mdc-data-table__cell">{{address}}</td>
                        <td class="mdc-data-table__cell">{{phone}}</td>
                        <td class="mdc-data-table__cell">{{email}}</td>
                        <td class="mdc-data-table__cell">{{entry_date}}</td>
                        <td class="mdc-data-table__cell">{{egress_date}}</td>
                        <td><button>Asignaciones</button></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>


