<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nómina App</title>

    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap" rel="stylesheet">

    {{!-- Material Design --}}
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">

    {{!-- Material Icons --}}
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    {{!-- Styles --}}
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{{ body }}}

    {{!-- Material Design Script --}}
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</body>
</html>